<form class="post-form-actions" action="/add_post" method="POST">
    
    <label for="titulo">Título</label>
    <input name="titulo"
           id="titulo" 
           placeholder="Título de la publicación" 
           type="text" />
   
   <label for="description">Descripción</label>
    <input type="text"
        name="description"
        id="description"
        placeholder="Descripción">

    <label for="cuerpo">Contenido</label>
    <textarea
    name="cuerpo"
    id="cuerpo"
    >

    </textarea>
    <button type="submit">Publicar</button>
        </form>