<form class="form-post">
    <label for="titulo"></label>
    <input name="titulo"
           id="titulo" 
           placeholder="Título de la publicación" 
           type="text" />
    <button formaction="/add_post" type="submit">Publicar</button>
        </form>