<footer class="footer-site">
   
    <ul class="footer-ul">
        <a href="/posts">
            <li>Publicaciones</li>
        </a>
        <a href="/about">
            <li>Sobre mi</li>
        </a>
        <a href="/contact">
            <li>Contacto</li>
        </a>
    </ul>
    <small>My DevTour &copy; <%- new Date().getFullYear(); %></small>
</footer>