<footer class="footer-site">
    <a href=""></a>
    <ul class="footer-ul">
        <a href="">
            <li>Publicaciones</li>
        </a>
        <a href="">
            <li>Sobre mi</li>
        </a>
        <a href="">
            <li>Contacto</li>
        </a>
    </ul>
</footer>