<nav class="nav-for-header">
    
    <h1 class="title-site">
        <a href="/">My DevTour</a>
    </h1>
    <div class="search-container">
        <div class="form-container">
            <form action="/search" class="search-form" method="post" role="search">
                <input 
                type="text"
                id="searchInput"
                aria-label="Search"
                name="search"
                placeholder="Buscar"
                >
                <button type="submit"><svg width="36px" height="36px" viewBox="0 0 48 48" fill="currentColor" 
                    x="128" y="128" role="img" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                     d="m42.501 42.5l-7.351-7.776a17.244 17.244 0 1 0-7.075 4.422"/></g>
                </svg>
            </button>
            </form>
        </div>
    </div>
<ul class="ul-container">
    
    <a href="/posts"> 
        <svg width="36px" height="36px" 
        viewBox="0 0 34 32" fill="currentColor" x="128" y="128" role="img" 
        xmlns="http://www.w3.org/2000/svg"><g fill="currentColor">
            <g fill="currentColor"><path d="M1.512 28H19.5c.827 0 1.5-.673 
                1.5-1.5v-19c0-.023-.01-.043-.013-.065a.426.426 0 0 
                0-.013-.062a.488.488 0 0 0-.122-.227L13.853.147a.507.507 0 
                0 0-.289-.135C13.543.01 13.523 0 13.5 0H1.506C.676 0 0 .673 
                0 1.5v25c0 .827.678 1.5 1.512 1.5zM14 1.707L19.293 7H14.5a.5.5 
                0 0 1-.5-.5V1.707zM1 1.5c0-.276.227-.5.506-.5H13v5.5c0 .827.673 
                1.5 1.5 1.5H20v18.5a.5.5 0 0 1-.5.5H1.512A.506.506 0 0 1 1 
                26.5v-25z"/><path d="M4.5 12h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0
                 1zm0 4h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0 1zm0-8h5a.5.5 0 0 0 
                 0-1h-5a.5.5 0 0 0 0 1zm0 12h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0
                  1zm0 4h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0 1z"/><path d="M21.5 
                  5H26v5.5c0 .827.673 1.5 1.5 1.5H33v18.5a.5.5 0 0 
                  1-.5.5H14.512a.506.506 0 0 1-.512-.5v-1a.5.5 0 0 0-1 0v1c0 
                  .827.678 1.5 1.512 1.5H32.5c.827 0 1.5-.673 
                  1.5-1.5v-19c0-.023-.01-.043-.013-.065a.426.426 0 0 
                  0-.013-.062a.488.488 0 0 0-.122-.227l-6.999-6.999a.491.491 
                  0 0 0-.289-.134C26.543 4.01 26.523 4 26.5 4h-5a.5.5 0 0 0 
                  0 1zm6 6a.5.5 0 0 1-.5-.5V5.707L32.293 11H27.5z"/>
                  <path d="M23.5 16h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0 0 
                  1zm0 4h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0 0 1zm0 4h6a.5.5 0 0 
                  0 0-1h-6a.5.5 0 0 0 0 1zm0 4h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0 
                  0 1z"/></g></g>
        </svg>
        <li>Publicaciones</li>
    </a>
    
    <a href="/logout">
        <svg width="36px" height="36px" viewBox="0 0 32 32" fill="currentColor"
        x="128" y="128" role="img" xmlns="http://www.w3.org/2000/svg">
        <g fill="currentColor"><path fill="currentColor" d="M26 30H14a2 2 0 
            0 1-2-2v-3h2v3h12V4H14v3h-2V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v24a2
             2 0 0 1-2 2Z"/><path fill="currentColor" d="M14.59 20.59L18.17 
             17H4v-2h14.17l-3.58-3.59L16 10l6 6l-6 6l-1.41-1.41z"/></g>
        </svg>
        <li>Cerrar sesión</li>
    </a>
</ul>

</nav>