<nav class="nav-for-header">
    <h1 class="title-site">My DevTour</h1>
    <ul class="ul-container">
        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" 
            viewBox="0 0 24 24" style="fill: rgba(223, 223, 223, 0.539)">
            <path d="M12.71 2.29a1 1 0 0 0-1.42 0l-9 9a1 1 0 0 0 0 1.42A1 1 0 
            0 0 3 13h1v7a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7h1a1 1 0 0 0 1-1 1 1 
            0 0 0-.29-.71zM6 20v-9.59l6-6 6 6V20z"></path>
            </svg>
            <li>Inicio</li>
        </a>
        <a href="">
            <svg width="36px" height="36px" 
            viewBox="0 0 34 32" fill="currentColor" x="128" y="128" role="img" 
            xmlns="http://www.w3.org/2000/svg"><g fill="currentColor">
                <g fill="currentColor"><path d="M1.512 28H19.5c.827 0 1.5-.673 
                    1.5-1.5v-19c0-.023-.01-.043-.013-.065a.426.426 0 0 
                    0-.013-.062a.488.488 0 0 0-.122-.227L13.853.147a.507.507 0 
                    0 0-.289-.135C13.543.01 13.523 0 13.5 0H1.506C.676 0 0 .673 
                    0 1.5v25c0 .827.678 1.5 1.512 1.5zM14 1.707L19.293 7H14.5a.5.5 
                    0 0 1-.5-.5V1.707zM1 1.5c0-.276.227-.5.506-.5H13v5.5c0 .827.673 
                    1.5 1.5 1.5H20v18.5a.5.5 0 0 1-.5.5H1.512A.506.506 0 0 1 1 
                    26.5v-25z"/><path d="M4.5 12h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0
                     1zm0 4h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0 1zm0-8h5a.5.5 0 0 0 
                     0-1h-5a.5.5 0 0 0 0 1zm0 12h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0
                      1zm0 4h12a.5.5 0 0 0 0-1h-12a.5.5 0 0 0 0 1z"/><path d="M21.5 
                      5H26v5.5c0 .827.673 1.5 1.5 1.5H33v18.5a.5.5 0 0 
                      1-.5.5H14.512a.506.506 0 0 1-.512-.5v-1a.5.5 0 0 0-1 0v1c0 
                      .827.678 1.5 1.512 1.5H32.5c.827 0 1.5-.673 
                      1.5-1.5v-19c0-.023-.01-.043-.013-.065a.426.426 0 0 
                      0-.013-.062a.488.488 0 0 0-.122-.227l-6.999-6.999a.491.491 
                      0 0 0-.289-.134C26.543 4.01 26.523 4 26.5 4h-5a.5.5 0 0 0 
                      0 1zm6 6a.5.5 0 0 1-.5-.5V5.707L32.293 11H27.5z"/>
                      <path d="M23.5 16h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0 0 
                      1zm0 4h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0 0 1zm0 4h6a.5.5 0 0 
                      0 0-1h-6a.5.5 0 0 0 0 1zm0 4h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0 
                      0 1z"/></g></g>
            </svg>
            <li>Publicaciones</li>
        </a>
        <a href="">
            <svg width="36px" height="36px" viewBox="0 0 20 20" fill="currentColor" 
            x="128" y="128" role="img" xmlns="http://www.w3.org/2000/svg">
            <g fill="currentColor"><path fill="currentColor" d="M19 3H1a1 1 0 0 
                0-1 1v12a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-6 4h4v1h-4V7zm-2 
                7.803a2.31 2.31 0 0 0-.529-.303c-1.18-.508-2.961-1.26-2.961-2.176c0-.551.359-.371.518-1.379c.066-.418.385-.007.445-.961c0-.38-.174-.475-.174-.475s.088-.562.123-.996c.036-.453-.221-1.8-1.277-2.097c-.186-.188-.311-.111.258-.412c-1.244-.059-1.534.592-2.196 1.071c-.564.42-.717 1.085-.689 
                1.439c.037.433.125.996.125.996s-.175.094-.175.474c.061.954.38.543.445.961c.158
                 1.008.519.828.519 1.379c0 .916-1.781 1.668-2.961 2.176a2.503 2.503 0 0 
                 0-.471.26V5h9v9.803zM18 11h-5v-1h5v1z"/></g>
            </svg>
            <li>Sobre mi</li>
        </a>
        <a href="">
            <svg width="36px" height="36px" viewBox="0 0 20 20" fill="currentColor" 
            x="128" y="128" role="img" xmlns="http://www.w3.org/2000/svg">
            <g fill="currentColor"><path fill="currentColor" d="M6 6a.5.5 0 0 1 
                .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 6Zm.5 1.5a.5.5 0 0 0 0 1h2a.5.5
                 0 0 0 0-1h-2ZM8 1a6 6 0 0 0-5.27 8.872l-.71 2.49a.5.5 0 0 0 
                 .638.612l2.338-.779A6 6 0 1 0 8 1ZM3 7a5 5 0 1 1 2.325 4.225a.5.5 0 0
                  0-.426-.052l-1.658.553l.51-1.781a.5.5 0 0 0-.052-.393A4.974 4.974 0 0 
                  1 3 7Zm9.276 7.947l-2.402-1.2c.44-.123.863-.287 
                  1.263-.488l1.363.682l4.5-2.25V11a1 1 0 0 
                  0-1-1h-1.674c.153-.32.281-.655.384-1H16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 
                  2H9a2 2 0 0 1-2-2v-2.07c.327.046.66.07 1 .07v2a1 1 0 0 0 1 1h7a1 1 0 0 0 
                  1-1v-3.191l-4.276 2.138a.5.5 0 0 1-.448 0Z"/></g>
            </svg>
            <li>Contacto</li>
        </a>
    </ul>
</nav>