<div class="searchContainer">
    <div class="formContainer">
        <form action="/search" class="searchForm" method="post" role="search">
            <input 
            type="text"
            id="searchInput"
            aria-label="Search"
            placeholder="Buscar publicación"
            >
        </form>
    </div>
</div>