<h2>Esteban Martinez - Desarrollador Full-Stack</h2>
<h3>
    <label for="titulo"></label>
    <input name="titulo"
           id="titulo" 
           placeholder="Título de la publicación" 
           type="text">
</h3>