<div class="content-container">

    <h2>Esteban Martinez - Desarrollador Full-Stack</h2>
<section class="about-section">
    <h3>Localidad: Montevideo, Uruguay </h3>
    <svg width="56px" height="56px" viewBox="0 0 32 32" 
        fill="currentColor" x="128" y="128" role="img" 
        xmlns="http://www.w3.org/2000/svg"><g fill="currentColor">
        <path fill="currentColor" d="m16 24l-6.09-8.6A8.14 8.14 
        0 0 1 16 2a8.08 8.08 0 0 1 8 8.13a8.2 8.2 0 0 1-1.8 
        5.13Zm0-20a6.07 6.07 0 0 0-6 6.13a6.19 6.19 0 0 0 1.49 
        4L16 20.52L20.63 14A6.24 6.24 0 0 0 22 10.13A6.07 6.07 
        0 0 0 16 4Z"/><circle cx="16" cy="9" r="2" fill="currentColor"/>
        <path fill="currentColor" d="M28 12h-2v2h2v14H4V14h2v-2H4a2 
        2 0 0 0-2 2v14a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V14a2 2 0 0 0-2-2Z"/></g>
    </svg>
</section>
<p> La tecnología como trampolín para impulsar y evolucionar tu negocio </p>
<p>
    Juntos, podemos descubrir como cumplir este objetivo
</p>
<a class="contactar" href="mailto:estebeeen@outlook.com">Contactar</a>
</div>