<div class="contact-form">
    <p>
        En un breve mensaje contame tu propuesta y me pondré en contacto enseguida
    </p>
    <form class="post-form-actions"
        action="https://formspree.io/f/<%= formKey %>""
        method="POST">
        
        <label class="label-register" for="correo">Correo</label>
        <input type="text" id="correo" name="correo">
        <label class="label-register" for="mensaje">Mensaje</label>
        <textarea name="mensaje" id="mensaje"></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>