<div>
    <form class="post-form-actions" action="">
        
        <label class="label-register" for="correo">Correo</label>
        <input type="text" id="correo" name="correo">
        <label class="label-register" for="mensaje">Mensaje</label>
        <textarea name="mensaje" id="mensaje"></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>