<section class="post-container">
    <div class="welcome-container">
        <h2 class="post-title">Blog sobre tecnología, lenguajes de programación y más</h2>
        <p class="post-content">El objetivo de este blog es compartir opiniones 
            respecto a tecnología y guías para soluciones en desarrollo de software
        </p>
    </div>
    <figure class="image-container">
        <img src="/imgs/dkeyb.jpeg" alt="">
    </figure>
    <article class="post-section">
        <h2>Publicaciones</h2>
        <ul> 
            <% blogData.forEach(data => { %>
            <a href="/post/<%- data._id %>">
                <li> 
                <h3 class="post-title"><%- data.title %></h3>
                
                <span class="post-cont"> <%- data.createdAt.toDateString()%> </span>
                </li>
            </a>
            <% }) %>
            <% if (nextpage !== null) { %>
                <a class='pagination-anchor' href="/?page=<%= nextpage %>">&lt; Ver posts más antiguos </a>
            <% } %>

        </ul>
    </article>
</section>