<section class="post-container">
    <article class="post-section">
        <h2 class="post-title">De trabajar en un restaurant a desarrollar software</h2>
        <p class="post-content">El objetivo de este blog no es persuadir a nadie ni 
            vender humo con cuentos de fortuna o éxito, solo contar mi experiencia hasta 
            la fecha, compartir opiniones respecto a tecnología y capaz inspirar a alguien en el proceso
        </p>
        <figure class="post-author">
            <img src="" alt="">
        </figure>
    </article>
</section>