<h2 class="post-head"> <%- postData.title %></h2>
<p class="post-cont"> <%- postData.description %></p>
<p class="post-cont"> <%- postData.body %></p>
<small class="post-date"> <%- postData.createdAt.toDateString() %></small>