@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #020202;
    --font-colors: #f4f0f0e1;
    --light-font: #f2f2f2;
    --all-shadows: #c2c2c2;
}
* {
    scroll-behavior: smooth;
}
body {
    background-color: var(--background-color);
    font-family: 'Montserrat', serif;
    padding: 0;
}
.container-blog {
    width: 100%;
    position: relative;
}
.welcome-container {
    width: 100%;
    margin: auto;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--font-colors);
}
a svg {
    color: var(--font-colors);
}
ul {
    list-style-type: none;
}
h1, h2 {
    color: var(--font-colors)
}
.nav-for-header {
    display: flex;
    align-items: center;
    color: #a9c8ff;
    color: #c7e6ff;
    color: #2d4664;
    justify-content: space-around;
    border-bottom: 1px solid var(--font-colors);
}

.ul-container {
    display: flex;
    gap: .5rem;
}
.ul-container a {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.image-container {
    max-width: 1200px;
    min-width: 400px;
    margin: auto;
}
.image-container img {
    width: 100%;
    margin: 1rem 0;
    aspect-ratio: 7/6;
    max-height: 560px;
    object-position: center 80%;
    object-fit: cover;
}

.form-container {
    padding: 8px;
    position: relative;
}
.search-form {
    display: flex;
    border-radius: 20%;
    width: max-content;
}
.search-form input {
    padding: 10px 4px;
    font-family: 'Montserrat', serif;
    border-top-left-radius: 8px;
}
.search-form button {
    border-top-right-radius: 8px;
}
.search-form button > svg {
    width: 30px;
}
.post-container {
    width: 100%;
    background-image: url('/imgs/coolbg.jpeg');
}
.icon-action {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    margin: 1rem;
    border: 1px solid #fff;
}
.post-actions {
    display: flex;
    border-bottom: 2px solid #fff;
    justify-content: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.post-date {
    color: #fff;
    font-size: 1.098rem;
}
.post-section {
    margin: auto;
    width: 80%;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: 5px 2px 9px 3px var(--all-shadows);
    border-bottom: 1px solid #fff;

}
.post-content {
    color: var(--light-font);
}
.addpost {
    display: flex;
    width: 100%;
}
.addpost a {
    border: 1px solid #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 12px;
}
.addpost a:hover {
    color: #e1dada;
    background-color: #414141;
}
.button-del {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.button-del:hover {
    color: #f43131;
}
.button-del svg {
    color: #f43131;
}
.addpost svg {
    color: #fff;
    padding: 6px;
}
.delete-act {
    color: #fff;
}
.post-form-actions {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;

}
.post-form-actions label {
    color: #fff;
    text-align: left;
    width: 60%;
}
.post-form-actions input {
    width: 60%;
    margin: 1rem 0;
    padding: 8px 0;
    line-height: 1;
}
.post-form-actions textarea {
    width: 60%;
    min-height: 220px;
}
.post-form-actions button {
    padding: 6px;
    margin: 1rem 0;
}
.footer-site {
    border-top: 1px solid #fff;
    width: 100%;
}
.footer-site small {
    color: var(--light-font);
    width: 100%;
    display: flex;
    justify-content: center;
}
.post-title {
    color: var(--light-font);
}
ul > a {
    margin-bottom: .5rem;
    padding: 6px 0;
}
.post-cont {
    color: var(--light-font);
}
.about-section {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.about-section h3, .about-section svg {
    color: var(--light-font);
}
ul {
    padding: 10px;
}
.footer-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-ul a {
    padding: 0 1rem;
}
.pagination-anchor {
    border: 1px solid #fff;
    display: flex;
    width: max-content;
    margin-top: 8px;
}
.responsive-burger {
    display: none;
}
.container-responsive {
    display: none;
}
.register-now { 
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}
.title-admin {
    color: var(--font-colors);
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #fff;
}
.par-login {
    color: var(--light-font);
}

.form-admin {
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
}
.form-admin button {
    width: 50%;
    border-radius: 12px;
    margin: auto;
    padding: 8px 4px;
    font-family: 'Montserrat', serif;
}
.form-admin button:hover {
    color: #1100ff;
    cursor: pointer;
}
.form-admin label ,.form-admin input{
    width: 50%;
    margin: auto;
    font-size: 1.1234rem;
}
.form-admin input {
    color: #020202;

}
.form-admin label  {

    color: var(--light-font);
}
.contact-form {
    max-width: 600px;
    margin: auto;
}
.contact-form p {
    color: #fff;
    text-align: center;
    font-size: 1.19rem;
}
.contact-form button {
    padding: 11px;
    background-color: transparent;
    color: #fff;
    font-size: 1.28rem;
}
.contact-form button:hover {
    background-color: #e1dada;
    color: #020202;
}
.content-container {
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}
.content-container h2 {
    font-size: 1.78rem;
}
.contactar {
    padding: 8px;
    font-size: 1.46rem;
    font-weight: 900;
    letter-spacing: 0.02em;
    border-radius: 12px;
    border: 1px solid #fff;
    
}

@media (width <= 1044px) {
    .nav-for-header ul {
        display: none;
    }
    .menu-responsive {
        width: 100%;
        height: 100%;
        list-style-type: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 777;
        background-color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin: 0;
        flex-direction: column;
    }
    .container-responsive {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .visible {
        display: flex;
    }
    .menu-responsive a {
        color: var(--font-colors);
        font-size: 1.123rem;
        border-bottom: 1px solid #fff;
    }
    .title-site {
    margin-left: 1rem;
    }
    .nav-for-header {
        justify-content: space-between;
    }
    .responsive-burger {
        display: unset;
        width: 56px;
        cursor: pointer;
        height: 56px;
    }
    .responsive-burger svg {
        color: #fff;
    }
    .form-container {
        width: 35%;
    }
    .close-menu {
        color: #fff;
        border-radius: 12px;
        border: .5px solid #fff;
    }
}